{% extends "layout.html" %} 

{% block title %} Universidad | Libros {% endblock %} 

{% block header-page %} 
    <div class="col-sm-6">
        <h1 class="m-0">Sección de Libros</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'books' %}">Libros</a></li>
        <li class="breadcrumb-item active">Lista</li>
        </ol>
    </div><!-- /.col -->
{% endblock %} 

{% block content %}  
    <div class="card card-primary card-outline col-10 mx-auto">
        <div class="card-header">
          <div class="row">
            <div class="col-auto me-auto">
              <h3 class="m-0">Listado de Libros Registrados</h3>
            </div>
            <div class="col-auto">
              <div class="input-group">
                <input type="text" class="form-control form-control-md" placeholder="Título" name="titleSearch" id="titleSearch">
                <div class="input-group-append">
                    <button type="button" class="btn btn-md btn-success" id="btnSearchBook">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <a href="{% url 'addBook' %}" class="btn btn-primary">
                <i class="fas fa-plus-circle me-1"></i>
                Agregar
              </a>
            </div>
          </div>    
        </div>
        <div class="card-body">
            <div class="table table-responsive rounded-3" id="tableBooks">
              <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th>#</th>
                    <th>Titulo</th>
                    <th>Imagen</th>
                    <th>Desripción</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody">
                  {% for book in books %}
                    <tr>                          
                      <th>{{ forloop.counter }}</th>
                      <td>{{ book.title }}</td>
                      <td><img src="{{ MEDIA_URL }}/Academic/images/{{ book.image }}" alt="" height="100"></td>
                      <td>{{ book.description }}</td>
                      <td class="text-center">
                        <a href="{% url 'editBook' book.id %}" type="button" class="btn btn-outline-warning btn-sm py-0 px-1 mb-1"><i class="fas fa-edit me-1"></i>Editar</a><br>
                        <a href="{% url 'deleteBook' book.id %}" type="button" class="btn btn-outline-danger btn-sm py-0 px-1" id="btnDeleteBook"><i class="fas fa-trash-alt me-1"></i>Eliminar</a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <script>
    $("#titleSearch").focus();
    const btnsDelete = document.querySelectorAll("#btnDeleteBook")
    btnsDelete.forEach((btn) => {
      btn.addEventListener("click", function (e) {
        e.preventDefault(); 
        Swal.fire({
          title: "¿Confirma la eliminación del Libro?",
          showCancelButton: true,
          cancelButtonText: "Cancelar", 
          confirmButtonText: "Eliminar", 
          confirmButtonColor: "#d33",
          backdrop: true,
          showLoaderOnConfirm: true, 
          preConfirm: () => {
            location.href = e.target.href; 
          },
          allowOutsideClick: () => false, 
          allowEscapeKey: () => false, 
        });  
      });
    });

    $("#titleSearch").on("input", function() { // Reload the page when the browser is empty. 
      if (this.value == '') { 
        location.reload();
      }
    });

    $(document).ready(function(){ // Execute the consult automatically when the ENTER key is pressed in the browser
      $("#titleSearch").keypress(function(e) {
          var code = (e.keyCode ? e.keyCode : e.which);
          if(code==13){
            title = $('#titleSearch').val();
            if(title != ''){
              consultAjax();
            }
          }
      });
    });

    $(document).on("click", "#btnSearchBook", function() { // Execute the consult when the search button is pressed
      title = $('#titleSearch').val();
      if(title != ''){
        consultAjax();
      }
    });

    function consultAjax(){
      $.ajaxSetup({
        headers:     {
            'X-CSRF-TOKE': $('meta[name="csrf-token"]').attr('content')
        }
      });
      $.ajax({
          method: "get",
          url: 'http://127.0.0.1:8000/Academic/book/consult/'+title,
          data: {}
      })
      .done(function(html){
          $("#tableBooks").html(html);
      });
    };
</script>
{% endblock %}