<form method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group row">
        <label for="subject" class="col-sm-2 col-form-label">{{ field.label }}</label>
        <div class="col-sm-10">
            <input 
                type="{{ field.field.widget.input_type }}" 
                class="form-control mb-2" 
                id="{{ field.name }}" 
                name="{{ field.name }}"                    
                placeholder="Ingrese {{ field.label }}"
                value="{{ field.value | default:'' }}"
            >
        </div>
    </div>
    <div class="col-12 help-text text-danger">
        {{ field.errors }}
    </div>
    {% endfor %}

    <div class="card-footer">
        <button type="submit" class="btn btn-info">Enviar</button>
        <a href="{% url 'careers' %}" class="btn btn-default float-right">Cancelar</a>
    </div>
</form>



    

  