{% extends "layout.html" %} 

{% block title %} Universidad | Cursos {% endblock %} 

{% block header-page %} 
    <div class="col-sm-6">
        <h1 class="m-0">Sección de Cursos</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'courses' %}">Cursos</a></li>
        <li class="breadcrumb-item active">Lista</li>
        </ol>
    </div><!-- /.col -->
{% endblock %} 

{% block content %}  
    <div class="card card-primary card-outline col-11 mx-auto">
        <div class="card-header">
          <div class="row">
            <div class="col-auto me-auto">
              <h3 class="m-0">Listado de Cursos Registrados</h3>
            </div>
            <div class="col-auto">
              <div class="input-group">
                <input type="text" name="nameSearch" id="nameSearch" class="form-control form-control-md" placeholder="Nombre">
                <div class="input-group-append">
                  <button class="btn btn-md btn-success" id="btnSearchCourse">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <a href="{% url 'addCourse' %}" class="btn btn-primary">
                <i class="fas fa-plus-circle me-1"></i>
                Agregar
              </a>
            </div>
          </div>    
        </div>
        <div class="card-body">
            <div class="table table-responsive rounded-3" id="tableCourses">
                <table class="table">
                  <thead class="table-dark">
                    <tr>
                      <th>#</th>
                      <th>Código</th>
                      <th>Nombre</th>
                      <th>Docente</th>
                      <th class="text-center">Créditos</th>
                      <th class="text-center">Acciones</th>
                    </tr>
                  </thead>
                  <tbody">
                    {% for course in courses %}
                      <tr>                          
                        <th>{{ forloop.counter }}</th>
                        <td>{{ course.code }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.professor }}</td>
                        <td class="text-center">{{ course.credits }}</td>
                        <td class="text-center">
                          <a href="{% url 'editCourse' course.id %}" type="button" class="btn btn-outline-warning btn-sm ps-1 pe-1 pt-0 pb-0"><i class="fas fa-edit me-1"></i>Editar</a>
                          <a href="{% url 'deleteCourse' course.id %}" type="button" class="btn btn-outline-danger btn-sm ps-1 pe-1 pt-0 pb-0" id="btnDeleteCourse"><i class="fas fa-trash-alt me-1"></i>Eliminar</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  <script>
    $("#nameSearch").focus(); 
    const btnsDelete = document.querySelectorAll("#btnDeleteCourse")
    btnsDelete.forEach((btn) => {
      btn.addEventListener("click", function (e) {
        e.preventDefault(); 
        Swal.fire({
          title: "¿Confirma la eliminación del Curso?",
          text: "Esta acción podría eliminar el registro de todas las matriculas que dependan de este Curso",  
          showCancelButton: true,
          cancelButtonText: "Cancelar", 
          confirmButtonText: "Eliminar", 
          confirmButtonColor: "#d33",
          backdrop: true,
          showLoaderOnConfirm: true, 
          preConfirm: () => {
            location.href = e.target.href; 
          },
          allowOutsideClick: () => false, 
          allowEscapeKey: () => false, 
        });  
      });
    });

    $("#nameSearch").on("input", function() { // Reload the page when the browser is empty. 
      if (this.value == '') { 
        location.reload();
      }
    });

    $(document).ready(function(){ // Execute the consult automatically when the ENTER key is pressed in the browser
      $("#nameSearch").keypress(function(e) {
          var code = (e.keyCode ? e.keyCode : e.which);
          if(code==13){
            name = $('#nameSearch').val();
            if(name != ''){
              consultAjax();
            }
          }
      });
    });

    $(document).on("click", "#btnSearchCourse", function() { // Execute the consult when the search button is pressed
      name = $('#nameSearch').val();
      if(name != ''){
        consultAjax();
      }
    });

    function consultAjax(){
      $.ajaxSetup({
        headers:     {
            'X-CSRF-TOKE': $('meta[name="csrf-token"]').attr('content')
        }
      });
      $.ajax({
          method: "get",
          url: 'http://127.0.0.1:8000/Academic/course/consult/'+name,
          data: {}
      })
      .done(function(html){
          $("#tableCourses").html(html);
      });
    }
  </script>
{% endblock %}